canvas 
{
    display: inline;
    outline: 1px solid black;
    max-height: 70vh;
    max-width: 100vw;
}


.mapzone {
    background-color: #228B22;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 15px;
    height: 15px;
  }
  
  .turret {
    background-color: #C0C0C0;
    opacity: 0.7;
    border: 2px solid #000000;
    position: absolute;
    top: 500px;
    left: 0px;
    width: 40px;
    height: 40px;
    color: #000000;
    text-align: center;
  }
  
  .turretdrag {
    background-color: #FFFFFF;
    position: absolute;
    width: 15px;
    height: 15px;
   
    font-size: 15px;
    text-align: center;
    top: 0px;
    left: 0px;
  }
  
  .startbutton {
    background-color: #4682B4;
    position: absolute;
    width: 100px;
    height: 50px;
    color: #FFFFFF;
    text-align: center;
    
    top: 495px;
    left: 20px;
  }
  
  .resetbutton {
    background-color: #4682B4;
    position: absolute;
    width: 100px;
    height: 50px;
    color: #FFFFFF;
    text-align: center;
   
    top: 560px;
    left: 20px;
  }
  
  .statusbar {
    background-color: #4682B4;
    position: absolute;
    width: 400px;
    height: 50px;
    color: #FFFFFF;
    text-align: center;
    
    top: 495px;
    left: 500px;
  }
  
  .minion {
    background-color: #000000;
    position: absolute;
    width: 15px;
    height: 15px;
   
    top: 0px;
    left: 0px;
  }
  
  *[draggable=true] {
    -khtml-user-drag: element;
    cursor: move;
  }
  
  :-khtml-drag {
    background-color: rgba(238, 238, 238, 238, 0.5);
  }
  
  *:-moz-drag-over {
    background-color: rgba(238, 238, 238, 0.5);
  }